@import url(fonts.css);

.main {
    background: #EBEBEB;
}

.main-box {
    display: flex;
    justify-content: space-between;
    transform: translateY(-45px);
}

.main-box__left {
    max-width: 540px;
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    padding: 15px;
}

.main-left__image {
    width: 100%;
}

.main-left__title {
    color: #2C2A2A;
    font-family: 'RB';
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.main-left__text {
    color: #9B9B9B;
    font-family: 'RR';
    font-size: 16px;
    line-height: 19px;
}

.main-box__right {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-right__item {
    max-width: 255px;
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-right__item:nth-of-type(1) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.main-right__item:nth-of-type(2) {
    margin-bottom: 30px;
}

.main-right__item:nth-of-type(3) {
    margin-right: 30px;
}

.main-item__image {
    margin-top: 12px;
}

.main-item__title {
    color: #2C2A2A;
    text-align: center;
    font-family: 'RB';
    font-size: 22px;
    line-height: 16px;
    margin-top: 12px;
    transition: all 300ms;
}

.main-item__title:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
}

.main-item__text {
    color: #9B9B9B;
    font-family: 'RR';
    font-size: 16px;
    line-height: 16px;
    margin-top: 12px;
    max-width: 224px;
    width: 100%;
}

/*  **** Media start **** */

@media (max-width: 1100px) {

    .main-box {
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: center;
    }



    .main-box__right {
        row-gap: 30px;
        justify-content: center;
    }
}



/*  **** Media end **** */